.FullContainer {
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .LeftContainer,
    .RightContainer {
        width: 50%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        .ContentContainer {
            max-width: 45rem;
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .LeftContainer {
        background-color: #252A39;
        justify-content: flex-end;
    }
    .RightContainer {
        background-color: #73FDEA;
        justify-content: flex-start;
    }
}