@import '../../shared/_media-queries.scss';
@mixin base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PortraitContainer {
    height: 40vh;
    @include base-container;
    .Portrait {
        width: 15rem;
        height: 15rem;
        border: 6px solid #252A39;
        border-radius: 100%;
    }
}

.TitleContainer {
    height: 10vh;
    @include base-container;
    .Title {
        color: #252A39;
        font-weight: 400;
        font-size: 1.8rem;
        max-width: 90%;

        p {
            margin-bottom: .5rem;
        }
    }
}

.SubtitleContainer {
    height: 20vh;
    @include base-container;
    .Subtitle {
        color: #252A39;
        font-weight: 300;
        font-size: 1.6rem;
    }
}